<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="C:/Users/Blank/Documents/Path of Building/Builds/3.27/wanding.xml"/>
		<Arg string="wanding"/>
	</Mode>
	<Accounts lastAccountName="Souchy#5849" lastRealm="PC">
		<Account accountName="Souchy#5849"/>
	</Accounts>
	<SharedItems>
		<Item>
			Rarity: RARE
New Item
Large Cluster Jewel
Crafted: true
Prefix: {range:0.5}AfflictionNotableRenewal
Prefix: {range:0.5}AfflictionNotableRazeandPillage_
Suffix: None
Suffix: {range:0.5}AfflictionNotablePrimordialBond
Cluster Jewel Skill: affliction_minion_damage
Cluster Jewel Node Count: 8
LevelReq: 54
Implicits: 3
{crafted}Adds 8 Passive Skills
{crafted}2 Added Passive Skills are Jewel Sockets
{crafted}Added Small Passive Skills grant: Minions deal 10% increased Damage
1 Added Passive Skill is Primordial Bond
1 Added Passive Skill is Raze and Pillage
1 Added Passive Skill is Renewal
		</Item>
	</SharedItems>
	<Misc betaTest="false" notSupportedModTooltips="true" connectionProtocol="nil" colorNegative="^xDD0022" thousandsSeparator="," showThousandsSeparators="true" colorPositive="^x33FF77" buildSortMode="NAME" showPublicBuilds="true" edgeSearchHighlight="true" POESESSID="" showTitlebarName="true" invertSliderScrollDirection="false" disableDevAutoSave="false" colorHighlight="^xFF0000" slotOnlyTooltips="true" defaultCharLevel="1" showWarnings="true" decimalSeparator="." defaultGemQuality="0" defaultItemAffixQuality="0.5" nodePowerTheme="RED/BLUE"/>
</PathOfBuilding>
