<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="C:/Users/Blank/Documents/Path of Building/Builds/3.29 Allflame/RESULTS/Souchy - AnimateTransGuardian 89.xml"/>
		<Arg string="Souchy - AnimateTransGuardian 89"/>
	</Mode>
	<Accounts tokenExpiry="nil" lastAccountName="Souchy#5849" lastRealm="PC">
		<Account accountName="Souchy#5849"/>
	</Accounts>
	<SharedItems>
		<Item>
			Rarity: RARE
New Item
Large Cluster Jewel
Crafted: true
Prefix: {range:0.5}AfflictionNotableRenewal
Prefix: {range:0.5}AfflictionNotableRazeandPillage_
Suffix: None
Suffix: {range:0.5}AfflictionNotablePrimordialBond
Cluster Jewel Skill: affliction_minion_damage
Cluster Jewel Node Count: 8
LevelReq: 54
Implicits: 3
{crafted}Adds 8 Passive Skills
{crafted}2 Added Passive Skills are Jewel Sockets
{crafted}Added Small Passive Skills grant: Minions deal 10% increased Damage
1 Added Passive Skill is Primordial Bond
1 Added Passive Skill is Raze and Pillage
1 Added Passive Skill is Renewal
		</Item>
	</SharedItems>
	<Misc showPublicBuilds="true" showFlavourText="true" showAnimations="true" showAllItemAffixes="true" disableScrollControlInteraction="false" buildSortMode="LEVEL" nodePowerTheme="RED/BLUE" colorPositive="^x33FF77" betaTest="true" defaultGemQuality="0" colorNegative="^xDD0022" lastExportedWebsite="POBBin" colorHighlight="^xFF0000" disableDevAutoSave="false" showThousandsSeparators="true" useCompactValues="false" edgeSearchHighlight="true" thousandsSeparator="," defaultCharLevel="1" decimalSeparator="." invertSliderScrollDirection="false" defaultItemAffixQuality="0.5" showTitlebarName="true" dpiScaleOverridePercent="0" showWarnings="true" slotOnlyTooltips="true" migrateEldritchImplicits="true" notSupportedModTooltips="false" connectionProtocol="0"/>
</PathOfBuilding>
