<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="C:/Users/Blank/Documents/Path of Building/Builds/laptop eaton/3.27/kboc - extra conversion.xml"/>
		<Arg string="kboc - extra conversion"/>
	</Mode>
	<Accounts lastAccountName="Souchy#5849" lastRealm="PC">
		<Account accountName="Souchy#5849"/>
	</Accounts>
	<SharedItems>
		<Item>
			Rarity: RARE
New Item
Large Cluster Jewel
Crafted: true
Prefix: {range:0.5}AfflictionNotableRenewal
Prefix: {range:0.5}AfflictionNotableRazeandPillage_
Suffix: None
Suffix: {range:0.5}AfflictionNotablePrimordialBond
Cluster Jewel Skill: affliction_minion_damage
Cluster Jewel Node Count: 8
LevelReq: 54
Implicits: 3
{crafted}Adds 8 Passive Skills
{crafted}2 Added Passive Skills are Jewel Sockets
{crafted}Added Small Passive Skills grant: Minions deal 10% increased Damage
1 Added Passive Skill is Primordial Bond
1 Added Passive Skill is Raze and Pillage
1 Added Passive Skill is Renewal
		</Item>
	</SharedItems>
	<Misc buildSortMode="NAME" disableDevAutoSave="false" nodePowerTheme="RED/BLUE" colorPositive="^x33FF77" connectionProtocol="0" colorHighlight="^xFF0000" colorNegative="^xDD0022" showThousandsSeparators="true" edgeSearchHighlight="true" thousandsSeparator="," showAllItemAffixes="true" decimalSeparator="." showAnimations="true" defaultItemAffixQuality="0.5" showTitlebarName="true" dpiScaleOverridePercent="0" showWarnings="true" slotOnlyTooltips="true" notSupportedModTooltips="false" invertSliderScrollDirection="false" POESESSID="" showPublicBuilds="true" showFlavourText="true" betaTest="false" defaultGemQuality="0" defaultCharLevel="1" lastExportedWebsite="POBBin"/>
</PathOfBuilding>
